* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  color: rgb(53, 53, 53);
  background-color: #f2f2f2
}


/* ---------------------- INÍCIO CONTEÚDO PODCAST ---------------------- */

.info-podcast{ 
  display: flex;
  align-items: center;
  flex-direction: row-reverse;    
  background-color: #f2f2f2;
  padding: 0 80px 40px 40px;   
}

.texto-podcast{
  display: none;
}

.descricao{    
  display: flex;
  flex-direction: column;   
  padding:10px 50px 10px 50px;
  color: #5B5B5B;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  text-shadow: none;
  text-align: justify;
}

.descricao strong{
  color: #c06378;
  font-weight: 700;
}

.secao-podcast-textos{
  color: #5B5B5B;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  text-shadow: none;
  text-align: center;
}

#playlist{
  width: 40%;
}

.chamadas{
  width: 60%;
}

.titulo-chamada{
  font-family: "Nunito", sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 90px;
  color: #c06378;
  text-shadow: 1.1em.3em 0.1em #92597823;
  text-align: center;
  
}
.titulo-principal-podcast {  
  font-family: "Nunito", sans-serif;
  font-weight: 700;
  font-size: 42px;
  line-height: 90px;
  color: #c06378;
  text-shadow: 1.1em.3em 0.1em #92597823;
  text-align: center;
}

.chamada-episodios{
  display:flex;    
  padding: 50px 15px 10px 15px;  
  justify-content: center;
  background-color: #f2f2f2;  
}

.texto-chamada{
  align-self: flex-end;
}

.container-videos{
  display: flex;
  flex-direction: column;    
  align-items: center;
  padding: 0px 20px 30px 20px;  
  border-radius: 5em;  
  background-color: rgba(102, 56, 69, 0.3);
  padding-top: 50px;
}

#play{
  padding-left: 50px;    
}

.texto-chamada{
  font-size: 30px;
  font-family: 'Nunito', sans-serif;
  font-weight: bold;
  text-transform: uppercase;   
}

.podcast-videos{
  display: flex;  
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 20px;
  padding-top: 20px;      
}

.div-podcast{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(192, 99, 120, 0.3);  
  margin-bottom: 30px; 
  margin-left: 30px;
  width: 600px;
  height: 600px;
  border-radius: 50px;   
}

.div-podcast h1{
  padding: 40px 15px 25px 15px;    
  font-size: 18px;
  text-align: center;
  font-family: "Roboto", sans-serif;
}


.div-podcast p{
  font-size: 16px;
  padding: 20px 70px 20px 70px;
  text-align: justify;
  font-family: "Roboto", sans-serif;     
}

.div-podcast iframe{
  width:460px;
  height:240px;
}

.div-podcast a{
  color:rgb(53, 53, 53);
  font-weight: bold;
}

.link-canal a{
    background: #E894A7;
    border-radius: 25px;
    color: #FFFFFF;
    font-family: "Nunito", sans-serif;
    font-size: 12px;
    letter-spacing: 1px;
    font-weight: 800;
    padding: 6px 20px;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
}

.link-canal a:hover {
  background-color: darkgray;
  padding: 8px 24px 8px 24px;
  transition: all 0.4s ease;
}


/*Texto*/


/* ---------------------- FIM CONTEÚDO PODCAST ---------------------- */




/*-----------------------Modal--------------------*/
.modal-contato {
  background-color: #c06378;
  color: #faf1f3;
  display: flex;  
}

.enviar{
  background-color:#c06378!important ;
  border-color: #c06378!important;
}
.enviar:hover{
  background-color: #E894A7!important;
  border-color: #E894A7!important;
}

.resposta{
  text-align: center;
}

.contato {
  padding-top: 20px;
  text-align: center;
}

.contato a{
  color:rgb(53, 53, 53);
  
}

.contato a:hover{
  text-decoration: none;
}





/* ---------------------- INÍCIO CONFIGURAÇÕES RESPONSIVAS ---------------------- */


/* Notebook */
@media (max-width: 1360px) {

  body {    
    background-position-x: right;
    background-size: 90vh;
  }

  .secao-conteudo {
    max-width: 50%;
  }

}


/* Netbook */

@media (max-width: 991px) {

  .container-menu {    
    height: 200px;
  }

  .secao-conteudo {
    margin-top: -100px; 
    max-width: 30%;
  }

}


/* Tablet */


@media (max-width: 850px) {

  

  .secao-conteudo {
    margin-top: -160px;
    max-width: 56%;
  }

  .info-podcast{
    flex-direction: column;
  }

  .chamadas{
    width: 100%;
  }

  .descricao{
    text-align: center;
  } 

}

@media (max-width: 770px) {

  .descricao{
    display:none;
  }

  .info-podcast{
    padding-bottom: 10px;
  }

  .texto-podcast{
    background-color: #F2F2F2;
    display: flex;
    flex-direction: column;
    padding: 0px 45px 20px 45px;           
    color: #5B5B5B;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    text-shadow: none;    
  }

  .texto-podcast strong{
    color: #c06378;
    font-weight: 700;
  }
  
}

/* Mobile  */

@media (max-width: 680px) {

  .container-conteudo {
    height: 80vh;
  }

  .secao-conteudo {
    max-width: 80%;
  }

  .div-podcast{
    width: auto;
    height: auto;
    margin: 0 10px 20px 10px;    
  }

  .texto-chamada{
    font-size: 20px;
    margin:0;
  }

  .div-podcast iframe{
    width: 414px;
    height: 216px;
  }
}

@media (max-width: 440px) {

  .container-menu{
    height: 150px;
  }

  .info-podcast{    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0;    
  }

  #playlist{
    width: 50%;
    padding-bottom: 50px;
  }

  .chamadas{
    width: 100%;
  }

  .chamada-episodios{
    margin: 0;
    padding-top: 25px;
  }

  .podcast-videos{
    display: flex;
    flex-direction: column; 
    margin-bottom: 10px;
    padding-top: 10px;
          
  }

  .div-podcast{
    width: auto;
    height: auto;
    margin: 0 10px 20px 10px;    
  }

  .div-podcast h1{
    padding: 30px 15px 15px 15px;    
    font-size: 18px;
    text-align: center;
  }


  .div-podcast p{
    font-size: 16px;
    padding: 20px 15px 10px 15px;
    text-align: justify;
    color: black;    
  }

  .div-podcast iframe{
    width:200px;
    height:200px;
  }

  .link-canal{
    margin-top: 0;
  }

}

@media (max-width: 350px) {
  .texto-chamada{
    font-size: 15px;
  }
  
}