* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  color: rgb(53, 53, 53);
  background-repeat: no-repeat;
  background-position-x: right;
  background-size: 120vh;
  background-color: #F2F2F2;
}

/* ---------------------- INÍCIO CONTEÚDO PATROCINE ---------------------- */


.secao-conteudo-textos {
  font-family: "Nunito", sans-serif;
  font-weight: 300;
  font-size: 18px;
  line-height: 28px;
  text-shadow: none;
}

.secao-conteudo-botao a {
  color: #FFFFFF;
  font-family: "Nunito", sans-serif;
  text-decoration: none;
  font-size: 18px;
  padding: 6px 20px;
  align-items: center;
  text-align: center;
  background: #E894A7;
  border-radius: 25px;
}

.secao-conteudo-botao a:hover {
  background-color: darkgray;
  padding: 6px 20px 6px 70px;
  transition: all 0.4s ease;
}

/*Botões*/
.botao a{
  background: #E894A7;
  border-radius: 25px;
  color: #FFFFFF;
  font-family: "Nunito", sans-serif;
  font-size: 16px;
  letter-spacing: 1px;
  font-weight: 700;
  padding: 6px 20px;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
}

.botao a:hover {
background-color: darkgray;
padding: 8px 24px 8px 24px;
transition: all 0.4s ease;
}

.alinhar-botao-patrocine{
  display: flex;
  justify-content: center;
}

/*Tamanho das duas imagens (trabalho-patrocine.png e mulheres-incriveis.png)*/
.mulher-ecommerce img{
  width: 700px;
  height: auto;
}

.mercado-patrocine img{
  width: 200px;
  height: auto;
}

/*Posicionar a primeira imagem*/
.posicionar{
  display: flex;
  justify-content: center;
}

.rounded-circle{
width: 180px;
height: auto;
}

.tamanho-tela{
  height: 100%;
}

.bloco-patrocine article{
  margin-left: 2rem!important;
}

.secao-conteudo-patrocine {
  height: 100vh;
  background-image:
  linear-gradient(to bottom, rgba(255, 255, 255, .85), rgba(255, 255, 255, 1)),
  url('');
  background-size: cover;
}

/*Formatos do links vakinhas*/
 .links{
  color:#663845;
  font-weight: 600;
  font-size: 18px;
  
}

.links:hover{
  color: #c06378;
  text-decoration: none;
  padding-top: 50px;
  transition: all 0.5s ease-in;
}

.titulo-principal-patrocine {
  font-family: 'Nunito', sans-serif;

  font-weight: 700;
  font-size: 42px;
  line-height: 90px;
  color:#c06378;
  padding: 10px 0 15px 0;
  text-shadow: 1.1em.2em 0.1em #92597823;
}

.subtitulo-patrocine{
  font-family: 'Nunito', sans-serif;
  font-weight: 700;
  color:#c06378;
  font-size: 40px;
}

h4{
  color:#8b4e5e;
  font-weight: 600;
}

.espaco-patrocine{
  margin-bottom: 7rem;
}


/*Backgrounds da Aba*/
.fundo-patrocine{
 background-color: #321e2563;
 border-radius: 5em;
}

.fundo-info {
  background-color: rgba(252, 212, 220, 0.289); 
} 

.fundo-inicio {
   background-color: #fcd4dc; 
  
}  

.background-patrocine{
  background-image: url(../img/barra-menu-horizontal-patrocine.png);
   background-repeat: no-repeat;
  background-position: bottom center;
  
}

.background-patrocine-direita{
  background-image: url(../img/barra-menu-horizontal-patrocine.png);
   background-repeat: repeat;
  background-position: bottom right ;
  
}

.background-patrocine-esquerda{
  background-image: url(../img/barra-menu-horizontal-patrocine.png);
   background-repeat: repeat;
  background-position: bottom left ;
}



/*Formulário - modal*/

.modal-contato {
  background-color: #c06378;
  color: #faf1f3;
  display: flex;  
}

.enviar{
  background-color:#c06378!important ;
  border-color: #c06378!important;
}
.enviar:hover{
  background-color: #E894A7!important;
  border-color: #E894A7!important;
}

.resposta{
  text-align: center;
}

.contato {
  padding-top: 1px;
  text-align: center;
}

.contato a{
  color: #663845;
  font-size: 18px;
  font-weight: 500;
  
}

.contato a:hover{
  color: #c06378;
  text-decoration: none;
}




/* ---------------------- FIM CONTEÚDO PATROCINE ---------------------- */


/* ---------------------- INÍCIO CONFIGURAÇÕES RESPONSIVAS ---------------------- */


/* Notebook */
@media (max-width: 1360px) {

  body {
  
    background-position-x: right;
    background-size: 90vh;
  }

  .secao-conteudo {
    max-width: 50%;
  }

 
}

@media (max-width: 1050px) {
  .container-menu {
    background-repeat: no-repeat;
    background-size: 135%;
  
}

   /*Aba Patrocine*/
   html,body{
    font-size: 20px;
  }

  .tamanho-tela{
    height: 100%;
  }
 /*Aba Patrocine*/
 .tamanhoFonte{
  font-size: 24px;
 }
  
  

}

/* Netbook */

@media (max-width: 991px) {

  .container-menu {
    background-repeat: no-repeat;
    background-size: 135%;
    /* height: 300px; */
}

  .secao-conteudo {
    margin-top: -100px; 
    max-width: 30%;
  }
 
 /*Aba Patrocine*/
 html,body{
  font-size: 16px;
  }

 

}


/* Tablet */


@media (max-width: 850px) {

  .container-menu {
    background-repeat: no-repeat;
    background-size: 170%;
    height: 200px;
    
}

  .secao-conteudo {
    margin-top: -160px;
    max-width: 56%;
  }

  

}

@media (max-width: 770px) {
 /*Aba Patrocine*/
  .container-menu {
    background-repeat: no-repeat;
    background-size: 170%;
     

 
 
}

/* Mobile  */
/*arrumar*/

@media (max-width: 680px) {

  body {
  
    background-size: 80vh;
    background-position-x: center;
  }

  .container-conteudo {
    height: 80vh;
  }

  .secao-conteudo {
    max-width: 80%;
  }

   /*Aba Patrocine*/
 html,body{
  font-size: 14px;
  }
}

@media (max-width: 530px) {
 
  
}

@media (max-width: 440px) {

  

}

@media (max-width: 350px) {
 
  
}