* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  color: rgb(53, 53, 53);
  background-image: url("../img/big_women.svg");
  background-repeat: no-repeat;
  background-position-x: right;
  background-size: 120vh;
  background-color: #F2F2F2;
}

/* ---------------------- INÍCIO CONTEÚDO HOME ---------------------- */


/*Texto*/

.secao-conteudo {
  margin-top: 20px;
  margin-left: 60px;
  max-width: 30%;
}

.titulo-principal {
  font-family: "Nunito", sans-serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 90px;
  color:#c06378;
  text-shadow: 1.1em.3em 0.1em #92597823;
  }

.secao-conteudo-textos {
  font-family: "Nunito", sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 28px;
  color:#5B5B5B;
  text-shadow: none;
}

.secao-conteudo-botao {
  padding-top: 20px;
}

.secao-conteudo-botao a {
  color: #FFFFFF;
  font-family: "Nunito", sans-serif;
  text-decoration: none;
  font-size: 18px;
  padding: 6px 20px;
  align-items: center;
  text-align: center;
  background: #E894A7;
  border-radius: 25px;
}

.secao-conteudo-botao a:hover {
  background-color: darkgray;
  padding: 6px 20px 6px 70px;
  transition: all 0.4s ease;

}

/* ---------------------- INÍCIO CONTEÚDO HOME ---------------------- */


/* ---------------------- INÍCIO CONFIGURAÇÕES RESPONSIVAS ---------------------- */


/* Notebook */

@media (max-width: 1360px) {

  body {
    background-image: url('../img/big_women_mobile.svg');
    background-position-x: right;
    background-size: 90vh;
  }

  .secao-conteudo {
    max-width: 50%;
  }

}

/* Netbook */

@media (max-width: 991px) {

  .secao-conteudo {
    margin-top: -100px; 
    max-width: 30%;
  }

}

/* Tablet */

@media (max-width: 850px) {

  .secao-conteudo {
    margin-top: -160px;
    max-width: 56%;
  }

}

/* Mobile  */

@media (max-width: 680px) {

  body {
    background-image: url('../img/big_women_mobile-v2.svg');
    background-size: 80vh;
    background-position-x: center;
  }

  .container-conteudo {
    height: 80vh;
  }

  .secao-conteudo {
    max-width: 80%;
  }

}
