* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    color: rgb(53, 53, 53);
    background-color: #F2F2F2;
  }
  
  
  /* ---------------------- INÍCIO CONTEÚDO EMPREENDEDORAS ---------------------- */
  
  
  /*Container Conteúdo*/
  
  .container-conteudo {
      margin-top: 70px;
  }

  .secao-conteudo {
    display: flex;
    margin-top: 20px;
    margin: 0 auto;
    max-width: 90%;
  }
  
  .titulo-principal {
    font-family: "Nunito", sans-serif;
    font-weight: 700;
    font-size: 42px;
    line-height: 90px;
    color:#c06378;
    text-shadow: 1.1em.3em 0.1em #92597823;
    }
  
  .secao-conteudo-textos {
    color:#5B5B5B;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    padding-top: 100px;
    text-shadow: none;
    text-align: center;
  }
  
  .secao-conteudo-descricao {
      margin: 0 auto;
      max-width: 70%;
  }

  .secao-conteudo-descricao strong {
      color: #c06378;
      font-weight: 700;
  }

  .secao-conteudo-imagem {
      max-width: 50%;
  }

  .secao-conteudo-imagem-img {
      max-width: 100%;
  }

  .secao-conteudo-botao {
    padding-top: 40px;
  }
  
  /*Seção Empreendedoras*/

  .secao-empreendedoras-box-botao,
  .secao-conteudo-botao a {
    background: #E894A7;
    border-radius: 25px;
    color: #FFFFFF;
    font-family: "Nunito", sans-serif;
    font-size: 12px;
    letter-spacing: 1px;
    font-weight: 800;
    padding: 6px 20px;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
  }
  
  .secao-conteudo-botao a:hover {
    background-color: darkgray;
    padding: 8px 24px 8px 24px;
    transition: all 0.4s ease;
  }
  
  .secao-empreendedoras {
    color: #5b5b5b;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 100%;
    margin: 0 auto;
    padding: 50px 100px 0px 100px;
    margin-top: 100px;
  }

  .secao-empreendedoras-box {
    display: flex;
    height: 250px;
    width: 50%;
    padding: 5px 15px 30px 15px;
    margin-bottom: 100px;
  }

  .secao-empreendedoras-box-img {
    width: 40%;
    height: 200px;
    padding-right: 35px;
  }

  .secao-empreendedoras-box-img img{
    max-width: 100%;
  }

  .secao-empreendedoras-box-img img:hover {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    filter: gray;
  }

  .img1 img {
    box-shadow: 16px 16px #E894A7;
  }

  .img2 img {
    box-shadow: 16px 16px #8B4E5E;
  }

  .img3 img {
    box-shadow: 16px 16px #663845;
  }

  .secao-empreendedoras-box-descricao {
    width: 60%;
  }

  .secao-empreendedoras-box-descricao h2 {
    font-family: "Nunito", sans-serif;
    font-size: 26px;
    font-weight: 700;
  }

  .desc1 h2 {
    color: #c06378;
  }

  .desc2 h2 {
    color: #8B4E5E;
  }

  .desc3 h2 {
    color: #663845;
  }

  .secao-empreendedoras-box-botao {
    background-color: #b3b1b1;
    border-style: none;
    font-size: 10px;
    font-weight: 500;
    padding: 4px 10px;
  }

  .secao-empreendedoras-box-botao:hover{
    background-color: #f0d7dd;
    transition: all 0.4s ease;
  }

  .secao-empreendedoras-depoimento {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #663845;
    font-weight: 800;
    font-size: 16px;
  }

  .secao-empreedoras-depoimento-desc {
    font-weight: 400;
    font-size: 14px;
    padding: 30px;
  }

  .secao-empreedoras-depoimento-desc a {
    color: #663845;
    text-decoration: none;
  }

  .secao-empreendedoras-depoimento-cabecalho {
    display: flex;
    max-width: 80%;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
  }

  .secao-empreendedoras-depoimento-cabecalho-titulo {
    max-width: 50%;
    padding-right: 30px;
    text-align: right;
  }

  .secao-empreendedoras-depoimento-cabecalho-titulo h2 {
    font-family: "Nunito", sans-serif;
    font-weight: 700;
    text-align: center;
  }

  .secao-empreendedoras-depoimento-cabecalho-img {
    max-width: 50%;
  }

  .secao-empreendedoras-depoimento-cabecalho-img img{
    max-width: 100%;
    box-shadow: 16px 16px #f0d7dd;
  }

  /* ---------------------- FIM CONTEÚDO EMPREENDEDORAS ---------------------- */
  
  
  /* ---------------------- INÍCIO CONFIGURAÇÕES RESPONSIVAS ---------------------- */
  
  
  /* Notebook */
  @media (max-width: 1360px) {
    
    .secao-empreendedoras-box {
      padding: 5px 30px 30px 15px;
    }

    .secao-empreendedoras-box-img {
      width: 65%;
    }
  
  }

  @media (max-width: 1260px) {

    .secao-empreendedoras-box-img {
      width: 80%;
    }

    .secao-empreendedoras-box-descricao {
      font-size: 12px;
    }
  }
  
  @media (max-width: 1150px) {

    .secao-empreendedoras-box {
      flex-direction: column;
      height: auto;
      padding-right: 0;
      margin-bottom: 5px;
    }

    .secao-empreendedoras-box-img {
      align-self: center;
      height: auto;
      padding-bottom: 50px;
    }

    .secao-empreendedoras-box-descricao {
      width: 75%;
      text-align: justify;
      align-self: center;
    }
  
  }
  
  
  /* Netbook */
  
  @media (max-width: 991px) {

    .container-conteudo{
      margin-top: 0;
    }
  
  }
  
  /* Tablet */
  
  
  @media (max-width: 850px) {
  
    .secao-conteudo {
      flex-direction: column;
      align-items: center;
    }

    .secao-conteudo-textos {
      padding-top: 0;
      padding-bottom: 60px;
    }

    .secao-conteudo-imagem {
      max-width: 55%;
    }

    .secao-empreendedoras {
      margin-top: 20px;
    }
  
  }
  
  @media (max-width: 770px) {

    .secao-empreendedoras {
      align-items: center;
      flex-direction: column;
    }

    .secao-empreendedoras-box {
      flex-direction: row;
      width: 90%;
      margin-bottom: 50px;
    }

    .secao-empreendedoras-box-img {
      padding-bottom: 0px;
    }

    .boxreverse {
      flex-direction: row-reverse;
    }

    .boxreverse .secao-empreendedoras-box-img {
      padding-right: 0;
      padding-left: 20px;
    }

    .boxreverse .desc1,
    .boxreverse .desc2,
    .boxreverse .desc3 {
      text-align: right;
    }

    .boxreverse .desc1 p,
    .boxreverse .desc2 p,
    .boxreverse .desc3 p {
      text-align: justify;
    }
  
  }
  
  /* Mobile  */
  
  @media (max-width: 680px) {

    .secao-conteudo-imagem {
      max-width: 65%;
    }
   
    .secao-empreendedoras {
      padding: 50px 40px 0px 40px;
    }
  
  }

  @media (max-width: 520px) {

    .secao-empreendedoras {
      padding: 50px 20px 0px 20px;
    }

    .secao-empreendedoras-box {
      flex-direction: column;
      margin-bottom: 10px;
      width: 100%;
    }

    .secao-empreendedoras-box-img {
      padding-bottom: 35px;
      padding-left: 0;
      padding-right: 0;
    }

  }