* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    color: rgb(53, 53, 53);
    background-color: #F2F2F2;
  }
  
  
  /* ---------------------- INÍCIO HEADER (Menu) ---------------------- */
  
  /*Container menu*/
  .container-menu {
    background: url("../img/barra-menu-horizontal.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    height: 190px;
  }
  
  /*Logo EmpreendElas*/
  .logo-btn {
    margin-left: 100px;
    padding-top: 50px;
    width: 480px;
    opacity: .8;
  }
  
  .logo-btn-mobile {
    display: none;
  }
  
  /*Itens_Menu*/
  
  .menu-secoes {
    font-family: "Nunito", sans-serif;
    color: white;
    font-size: 20px;
    text-align: right;
  }
  
  .menu-secoes a:visited {
    color: white;
  }
  
  /*Efeito_Menu*/
  .menu-secoes:hover {
    padding-top: 5px;
    transition: all 0.3s ease;
  }
  
  /* ---------------------- FIM HEADER (Menu) ---------------------- */
  
  
  /* ---------------------- INÍCIO CONTEÚDO HOME ---------------------- */
  
  
  /*Container Conteúdo*/
  
  .container-conteudo {
      margin-top: 70px;
  }

  .secao-conteudo {
    display: flex;
    margin-top: 20px;
    margin: 0 auto;
    max-width: 90%;
  }
  
  .titulo-principal {
    font-family: "Nunito", sans-serif;
    font-weight: 700;
    font-size: 42px;
    line-height: 90px;
    color:#c06378;
    text-shadow: 1.1em.3em 0.1em #92597823;
    }
  
  .secao-conteudo-textos {
    color:#5B5B5B;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    padding-top: 10px;
    margin-right: 30px;
    text-shadow: none;
    text-align: center;
  }
  
  .secao-conteudo-descricao {
      margin: 0 auto;
      max-width: 80%;
  }

  .secao-conteudo-descricao strong {
      color: #c06378;
      font-weight: 700;
  }

  .secao-conteudo-imagem {
    max-width: 50%;
  }

  .img0 {
    margin-top: -50px;  
    max-width: 95%;
  }

  .secao-conteudo-botao {
    padding-top: 40px;
  }
  
  /*Seção Dicas*/

  .secao-dicas-box-botao,
  .secao-conteudo-botao a {
    background: #E894A7;
    border-radius: 25px;
    color: #FFFFFF;
    font-family: "Nunito", sans-serif;
    font-size: 12px;
    letter-spacing: 1px;
    font-weight: 800;
    padding: 6px 20px;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
  }
  
  .secao-conteudo-botao a:hover {
    background-color: darkgray;
    padding: 8px 24px 8px 24px;
    transition: all 0.4s ease;
  }
  
  .secao-dicas {
    color: #5b5b5b;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 100%;
    margin: 0 auto;
    padding: 50px 100px 0px 100px;
    margin-top: 100px;
  }

  .secao-dicas-box {
    display: flex;
    height: 250px;
    width: 50%;
    padding: 5px 15px 30px 15px;
    margin-bottom: 0 auto;
  }

  .secao-dicas-box-img {
    width: 40%;
    height: 200px;
    padding-right: 35px;
  }

  .secao-dicas-box-img img{
    max-width: 100%;
  }

  .secao-dicas-box-img img:hover {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    filter: gray;
  }

  .secao-dicas-box-descricao {
    width: 60%;
  }

  .secao-dicas-box-descricao h2 {
    font-family: "Nunito", sans-serif;
    font-size: 26px;
    font-weight: 700;
    color: #c06378;
  }

  .secao-dicas-box-botao {
    background-color: #b3b1b1;
    border-style: none;
    font-size: 10px;
    font-weight: 500;
    padding: 4px 10px;
  }

  .secao-dicas-box-botao:hover{
    background-color: #f0d7dd;
    transition: all 0.4s ease;
  }

  .secao-dicas-depoimento {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #663845;
    font-weight: 800;
    font-size: 16px;
  }

  .secao-dicas-depoimento-desc {
    color: #5B5B5B;
    font-weight: 400;
    font-size: 14px;
  }

  /* ---------------------- FIM CONTEÚDO HOME ---------------------- */
  
  
  /* ---------------------- INÍCIO FOOTER ---------------------- */
  
  
  /*Footer*/
  .container-footer {
    background: url("../img/Retângulo_footer.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    display: flex;
    justify-content: space-between;
  }
  
  /*Footer_Midias*/
  .footer-midias {
    color: #f1b8c6;
    float: left;
    padding-top: 130px;
    margin-left: 100px;
    font-size: 20px;
    text-align: end;
  }
  
  .fa-envelope,
  .fa-facebook,
  .fa-instagram,
  .fa-youtube {
    color:  #f1b8c6;
    padding: 0 20px 0 0;
  }
  
  .fa-facebook:hover,
  .fa-instagram:hover,
  .fa-youtube:hover,
  .fa-envelope:hover {
    color: #f1b8c6;
    text-shadow: 0 0 8px #f1b8c6;
    transition: all 0.4s ease;
  }
  
  /*Footer Créditos*/
  .creditos {
    color: #f1b8c6;
    padding-top: 130px;
    padding-right: 20px;
    text-align: end;
    padding-bottom: 20px;
  }
  
  .creditos a:link,
  .creditos a:visited {
    color:  #f1b8c6;
    text-decoration: none;
  }
  
  .creditos a:hover {
    color:  #f0d7dd;
    
  }

  .creditos-desc {
    padding: 20px;
  }
  
  .creditos-desc li {
    list-style: none;
  }
  
  .creditos-desc a {
    color: #8b4e5e;
    text-decoration: none;
  }
  
  .creditos-desc a:hover{
    color: #5B5B5B;
  }
  
  /*Código para fixar footer no fim da página*/
  html {
    height: 100%;
  }
  
  body {
    min-height: 100%;
    display: flex;
    flex-direction: column;
  }
  
  .container-site {
    flex: 1;
  }
  
  /*Fim do código para fixar footer no fim da página*/
  
  /* ---------------------- FIM FOOTER ---------------------- */
  
  
  /* ---------------------- INÍCIO CONFIGURAÇÕES RESPONSIVAS ---------------------- */
  
  
  /* Notebook */
  @media (max-width: 1360px) {
  
    .logo-btn {
      margin-left: 150px;
      width: 400px;
    }
  
    .menu-secoes {
      font-size: 18px;
    }
    
    .secao-empreendedoras-box {
      padding: 5px 30px 30px 15px;
    }

    .secao-empreendedoras-box-img {
      width: 65%;
    }
  
  }

  @media (max-width: 1260px) {

    .secao-empreendedoras-box-img {
      width: 80%;
    }

    .secao-empreendedoras-box-descricao {
      font-size: 12px;
    }
  }
  
  @media (max-width: 1150px) {
  
    .logo-btn {
      margin-left: 100px;
      width: 380px;
    }

    .secao-empreendedoras-box {
      flex-direction: column;
      height: auto;
      padding-right: 0;
      margin-bottom: 5px;
    }

    .secao-empreendedoras-box-img {
      align-self: center;
      height: auto;
      padding-bottom: 50px;
    }

    .secao-empreendedoras-box-descricao {
      width: 75%;
      text-align: justify;
      align-self: center;
    }
  
  }
  
  @media (max-width: 1050px) {
  
    .logo-btn {
      margin-left: 100px;
      width: 340px;
    }
  
  }
  
  /* Netbook */
  
  @media (max-width: 991px) {
  
    .container-menu {
      background-repeat: no-repeat;
      background-size: 135%;
      height: 210px;
    }
  
    .logo-btn {
      margin-left: 200px;
      padding-top: 50px;
      width: 300px;
    }
  
    .menu-mobile-background {
      background-color: #c06378;
    }
  
    .navbar-toggler {
      font-size: 1.5rem;
      background-color: #8b4e5e;
      margin-right: 40px;
    }
    
    .navbar-expand-lg .navbar-nav .nav-link {
      padding-right: 2.8rem;
      padding-left: .8rem;
    }

    .container-conteudo{
      margin-top: 0;
    }
  
  }
  
  /* Tablet */
  
  
  @media (max-width: 850px) {
  
    .container-menu {
      background-size: 150%;
      background-position-x: right;
    }
  
    .secao-conteudo {
      flex-direction: column;
      align-items: center;
    }

    .secao-conteudo-textos {
      padding-top: 0;
      padding-bottom: 60px;
    }

    .secao-conteudo-imagem {
      max-width: 55%;
    }

    .secao-empreendedoras {
      margin-top: 20px;
    }
  
  }
  
  @media (max-width: 770px) {
  
    .container-menu {
      background-size: 170%;
      background-position-x: right;
    }
  
    .logo-btn {
      display: none;
    }
  
    .logo-btn-mobile {
      display: block;
      width: 100px;
      margin-left: -134px;
    }

    .secao-empreendedoras {
      align-items: center;
      flex-direction: column;
    }

    .secao-empreendedoras-box {
      flex-direction: row;
      width: 90%;
      margin-bottom: 50px;
    }

    .secao-empreendedoras-box-img {
      padding-bottom: 0px;
    }

    .boxreverse {
      flex-direction: row-reverse;
    }

    .boxreverse .secao-empreendedoras-box-img {
      padding-right: 0;
      padding-left: 20px;
    }

    .boxreverse .desc1,
    .boxreverse .desc2,
    .boxreverse .desc3 {
      text-align: right;
    }

    .boxreverse .desc1 p,
    .boxreverse .desc2 p,
    .boxreverse .desc3 p {
      text-align: justify;
    }
  
  }
  
  /* Mobile  */
  
  @media (max-width: 680px) {
  
    .container-menu {
      background-size: 205%;
      background-position-x: center;
    }
  
    .container-footer {
      align-items: center;
      flex-direction: column;
    }

    .secao-conteudo-imagem {
      max-width: 65%;
    }
   
    .secao-empreendedoras {
      padding: 50px 40px 0px 40px;
    }
  
    .footer-midias {
      padding-top: 100px;
      margin-left: 0;
    }
  
    .creditos {
      padding-right: 0;
      padding-top: 40px;
    }
  }

  @media (max-width: 520px) {

    .secao-empreendedoras {
      padding: 50px 20px 0px 20px;
    }

    .secao-empreendedoras-box {
      flex-direction: column;
      margin-bottom: 10px;
      width: 100%;
    }

    .secao-empreendedoras-box-img {
      padding-bottom: 35px;
      padding-left: 0;
      padding-right: 0;
    }

  }