* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  color: rgb(53, 53, 53);
  background-repeat: no-repeat;
  background-position-x: right;
  background-size: 120vh;
  background-color: #F2F2F2;
}

/* ---------------------- INÍCIO CONTEÚDO PATROCINE ---------------------- */


 .titulo-principal {
  font-family: "Nunito", sans-serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 90px;
  color:#c06378;
  text-shadow: 1.1em.3em 0.1em #92597823;
  } 

.secao-conteudo-textos {
  font-family: "Nunito", sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 28px;
  color:#5B5B5B;
  text-shadow: none;
}

.secao-conteudo-botao a {
  color: #FFFFFF;
  font-family: "Nunito", sans-serif;
  text-decoration: none;
  font-size: 18px;
  padding: 6px 20px;
  align-items: center;
  text-align: center;
  background: #E894A7;
  border-radius: 25px;
}

.secao-conteudo-botao a:hover {
  background-color: darkgray;
  padding: 6px 20px 6px 70px;
  transition: all 0.4s ease;
}


/*----------------------CONTEÚDO PATROCINE------------------- */

/*Botões*/
.btn-secondary{
  background-color: #663845;
  color: whitesmoke;
  border-color: #c06378;

}

.btn-secondary:hover{
  background-color: #8b4e5e;
  border-color: #c06378;
 
}

.btn-secondary:focus{
  color: whitesmoke;
  background-color: #c06378;
 
}

.alinhar-botao-patrocine{
  display: flex;
  justify-content: center;
}

/*Tamanho das duas imagens (trabalho-patrocine.png e mulheres-incriveis.png)*/
.mulher-ecommerce img{
  width: 700px;
  height: auto;
}

.mercado-patrocine img{
  width: 200px;
  height: auto;
}

/*Posicionar a primeira imagem*/
.posicionar{
  display: flex;
  justify-content: center;
}

.rounded-circle{
width: 180px;
height: auto;
}

/*Fundo inicio*/
/* .secao-conteudo-patrocine{
  width: 100vw;
} */

.tamanho-tela{
  height: 100%;
}

.bloco-patrocine article{
  margin-left: 15rem!important;
}

.secao-conteudo-patrocine {
  height: 100vh;
  background-image:
  linear-gradient(to bottom, rgba(255, 255, 255, .85), rgba(255, 255, 255, 1)),
  url('');
  background-size: cover;
}

/*Formatos do links vakinhas*/
 .links{
  color:#663845;
  font-weight: 600;
  font-size: 16px;
  
}

.links:hover{
  color: #c06378;
  text-decoration: none;
  padding-top: 19px;
  transition: all 0.9s ease-in-out;
}

.titulo-principal-patrocine {
  color: #663845;
  font-family: 'Nunito', sans-serif;
  font-weight: 900;
  font-size: 3rem;
  padding: 10px 0 15px 0;
  text-shadow: 1.1em.2em 0.1em #92597823;
}

.subtitulo-patrocine{
  font-family: 'Nunito', sans-serif;
  font-weight: 900;
  color: #663845;
  font-size: 2.7rem;
}

h4{
  color:#8b4e5e;
  font-weight: 600;
}

.espaco-patrocine{
  margin-bottom: 15rem;
}


/*Backgrounds da Aba*/
.fundo-patrocine{
 background-color: #321e2563;
 border-radius: 5em;
}

.fundo-info {
  background-color: rgba(252, 212, 220, 0.289); 
} 

.fundo-inicio {
   background-color: #fcd4dc; 
  
} 

.background-patrocine{
  background-image: url(../img/barra-menu-horizontal-patrocine.png);
   background-repeat: no-repeat;
  background-position: bottom center;
  
}

.background-patrocine-direita{
  background-image: url(../img/barra-menu-horizontal-patrocine.png);
   background-repeat: repeat;
  background-position: bottom right ;
  
}

.background-patrocine-esquerda{
  background-image: url(../img/barra-menu-horizontal-patrocine.png);
   background-repeat: repeat;
  background-position: bottom left ;
}





/* Contato 
.form-control{
  width: 50%;
  margin-left: 15em;
}

input .form-control-margem{
  margin-left: 2em;
} */

/* ---------------------- FIM CONTEÚDO PATROCINE ---------------------- */


/* ---------------------- INÍCIO CONFIGURAÇÕES RESPONSIVAS ---------------------- */


/* Notebook */
@media (max-width: 1360px) {

  body {
  
    background-position-x: right;
    background-size: 90vh;
  }

  .secao-conteudo {
    max-width: 50%;
  }

  /*Aba Patrocine*/
  html,body{
    font-size: 20px;
  }

 
}

@media (max-width: 1050px) {

   /*Aba Patrocine*/
   html,body{
    font-size: 20px;
  }

  .tamanho-tela{
    height: 100%;
  }
 /*Aba Patrocine*/
  html,body{
    font-size: 18px;
  }

}

/* Netbook */

@media (max-width: 991px) {

  .secao-conteudo {
    margin-top: -100px; 
    max-width: 30%;
  }
 
 /*Aba Patrocine*/
 html,body{
  font-size: 16px;
  }

}


/* Tablet */


@media (max-width: 850px) {

  .secao-conteudo {
    margin-top: -160px;
    max-width: 56%;
  }

}

@media (max-width: 770px) {

  /*Aba Patrocine*/
 html,body{
  font-size: 15px;
  }
}

/* Mobile  */

@media (max-width: 680px) {

  body {
  
    background-size: 80vh;
    background-position-x: center;
  }

  .container-conteudo {
    height: 80vh;
  }

  .secao-conteudo {
    max-width: 80%;
  }

   /*Aba Patrocine*/
 html,body{
  font-size: 14px;
  }
}